:root {
  --font-color: #aeaeaaff;
  --bg-color: #d0d0d0;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  background-image: url(imgs/bg.jpg);
  background-size: cover;
  color: var(--font-color);
  display: flex;
  font-family: Helvetica Neue, Helvetica, Arial, 'sans';
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 100;
  text-align: center;
}
