:root {
  --font-color: #aeaeaaff;
  --bg-color: #d0d0d0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Helvetica Neue, Helvetica, Arial, 'sans';
}

h1 {
  font-weight: 100;
  text-align: center;
}
